/* css styles */

/* Generic banner layout */
.banner {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About page banner */
.banner-about {
  background-image: url("media/BehindTheVegetation.jpg");
}

/* Teaching page banner */
.banner-teaching {
  background-image: url("media/TeachingHeader.jpg");
}

/* Research page banner */
.banner-research {
  background-image: url("media/ResearchHeader.jpg");
}

/* Publications page banner */
.banner-pubs {
  background-image: url("media/PublicationsHeader.jpg");
}

/* Banner text */
.banner-text {
  font-size: 3rem;
  color: white;
  font-weight: 300;
  text-shadow: 0 3px 12px rgba(0, 0, 0, 0.6);
}
